ul {
  list-style-type: none;
  margin-top: 20px;
  margin-left: 630px;
}

li {
  display: inline;
  margin-left: 15px;
}

.bottom-bord {
  border-bottom: 1px solid #d8d8d8;
}

.same-bord {
  text-align: center;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.black-bord {
  border-color: black;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 10px;
  background-color: black;
  color: white;
  font-family: monospace;
}

.area {
  background-color: #f2f2f2;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  margin-top: 10px;
  font-weight: bold;
  font-size: 23px;
}

.more-space {
  margin-top: 86px;
}

.img-responsive {
  width: 100%;
}
